In [8]:
# import packages

import pandas as pd
import os
import sys
import datetime as dt
import csv
import math
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sns
import matplotlib.dates as mdates


# read in the data
mypd = pd.read_csv("Reanalysis_DataAssimilation_Exercise1.csv",sep = ";")
mypd.fillna(0)

    t (s)      xb      _b2     y  _y2       x
0       0  1000.0     1000  1000    4  1000.0
1       1     0.0  920,465   598    4     0.0
2       2     0.0  485,640   370    4     0.0
3       3     0.0  154,461   228    4     0.0
4       4     0.0   38,564   139    4     0.0
5       5     0.0    8,299    83    4     0.0
6       6     0.0    1,599    51    4     0.0
7       7     0.0    0,299    34    4     0.0
8       8     0.0    0,054    20    4     0.0
9       9     0.0    0,009    13    4     0.0
10     10     0.0    0,002    10    4     0.0
11     11     0.0    0,000     6    4     0.0
12     12     0.0    0,000     1    4     0.0
13     13     0.0    0,000     4    4     0.0
14     14     0.0    0,000     3    4     0.0
15     15     0.0    0,000     3    4     0.0
16     16     0.0    0,000     1    4     0.0
17     17     0.0    0,000     0    4     0.0
18     18     0.0    0,000     2    4     0.0
19     19     0.0    0,000     3    4     0.0
20     20     0.0    0,000     1    4     0.0

In [18]:
mypd["xb"][1] = mypd["x"][0]*2

/var/folders/qm/b_vqfzj15gv6xshfw418_dfm0000gn/T/ipykernel_60494/19091969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mypd["xb"][1] = mypd["x"][0]*2

In [15]:
mypd.head()

   t (s)      xb      _b2     y  _y2       x
0      0  1000.0     1000  1000    4  1000.0
1      1  2000.0  920,465   598    4     NaN
2      2     NaN  485,640   370    4     NaN
3      3     NaN  154,461   228    4     NaN
4      4     NaN   38,564   139    4     NaN

In [14]:
decay = 0.5
sigma = 0.05

for i in mypd.index:
    mypd["xb"][i] = mypd["x"][i]*np

TypeError: unsupported operand type(s) for *: 'float' and 'module'